// Fontes
$fonte: 'Roboto', sans-serif;

// Cores
$cor-primaria: #f8cf5e; //#F0EABE;
$cor-secundaria: #BF9742; //#21E1E1;
$cor-terciaria: #A47E3B; //#3B9AE1;
$cor-quartenaria: #61481C; //#3120E0;

// Tamanho das fontes
$tamanho-do-texto: 3rem;